.SortingHeader {
	display: flex;
	overflow-x: scroll;
	gap: 18px;
	align-items: center;
}

.MediaGrid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(2, minmax(0, 1fr));

	@media (min-width: 520px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	@media (min-width: 1024px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	@media (min-width: 1280px) {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
}

.MediaGridCard {
	outline-style: solid;
	outline-width: 2px;
	border-radius: 8px !important;
	outline-color: rgb(47, 47, 47);
	text-decoration: none;
	text-align: left;
	position: relative;
	> a > span > span {
		display: flex !important;
		flex-direction: column;
		justify-content: space-between;
	}
}

.MediaGridCard:hover {
	.MediaCardMeta {
		background-color: rgb(47, 47, 47);
	}
}

.MediaGridCardSelect {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 10;
}

.MediaGridCardMedia {
	object-fit: contain;
	aspect-ratio: 1/1;
	width: 100%;
}

.MediaCardMeta {
	padding: 12px;
	background-color: rgb(31, 31, 31);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
}

.MediaGridCardTitle {
	width: 100%;
	font-weight: 500;
	overflow-wrap: anywhere;
	text-decoration: underline;
	margin-bottom: 0;
}

.MediaGridCardAlt {
	width: 100%;
	font-weight: 300;
	overflow-wrap: anywhere;
	text-decoration: none;
	margin-bottom: 0;
	opacity: 0.5;
}
